*{
    font-family: arial;
}

#back{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border: 2px solid black;
}

.header{
    background-color: black;
    box-sizing: border-box;
    height: 15%;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    border-bottom: 4px solid white;
}

.nav{
    display: flex;
    justify-content: space-between;
}

.logo{
    font-size: 30px;
    color: white;
    padding: 0 50px;
    line-height: 50px;
    text-decoration: none;
}

.menu{
    color: white;
    list-style: none;
    display: flex;
    line-height: 65px;
    margin-right: 10%;
}

.menu-link{
    text-decoration: none;
    color: white;
    padding: 5px;
}

.menu-trans:hover{
    background-color: grey;
    border-radius: 10px;
    padding: 5px;
    transition: 0.5s;
}

.item{
    font-size: 20px;
    margin: 0 25px;
}

.section{
    overflow-y: scroll;
    display: flex;
    position: fixed;
    flex-wrap: wrap;
    top: 15%;
    left: 0;
    width: 100%;
    height: 80%;
}

.footer{
    position: fixed;
    top: 95%;
    left: 0;
    background-color: black;
    width: 100%;
    height: 5%;
    border-top: 4px solid white;
    color: white;
    line-height: 10px;
    font-size: 10px;
    text-align: center;
}

.article{
    position: relative;
    left: 1.8%;
    height: 80%;
    width: 40%;
    background-color: grey;
    margin: 55px 65px;
    color: white;
    text-align: center;
    border-radius: 30px;
}

.article-info{
    position: relative;
    left: 1.8%;
    height: 80%;
    width: 79%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: grey;
    margin: 55px 65px;
    color: white;
    text-align: center;
    font-size: 25px;
    border-radius: 30px;
}

.profile-container{
    display: flex;
    position: absolute;
    height: 80px;
    width: 80px;
    left:92.25%;
    bottom: 12%;
    background-color: grey;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
}

.profile-container:hover{
    display: flex;
    position: absolute;
    height: 80px;
    width: 80px;
    left:92.25%;
    bottom: 12%;
    background-color: white;
    transition: 0.5s;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
}

.profile-img{
   position: relative;
   height:40px;
   width: 40px;
}

.bienvenida{
    display: flex;
    height: 80%;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.5);
    border-bottom: 4px solid white;
}

.bienvenida-container{
    position: relative;
    height: 80%;
    width: 30%;
    background-color: grey;
    justify-content: center;
    margin: 1.7% 5%;
    border-radius: 10px;
    color: white;
    text-align: center;
    padding: 1%;
    font-size: 20px;
}

.bienvenida-img{
    position: absolute;
    height: 68%;
    width: 25%;
    margin: 2% 65%;
    border: 5px solid grey;
}

.iframe{
    position:relative;
    height: 70%;
    width: 79%;
}